<html>
<head>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script src ="/static/pusher-script.js"></script>
</head>
<body>

  <h2>Announcement</h2>
  <div id="announcement">

  </div>
  <p/>

  <h2>Messages</h2>
  <div id="messages">
  </div>
  <p/>


  <h2>Users Present</h2>
  <div id="users">
    <ul id="users-presence">

    </ul>
  </div>
  <p/>


  <input id="enter-message" type="text" enabled="true" value="Enter message" />
  <input type="button" text="send" onclick="sendMessage()" value="✉️"/>

</body>
</html>
